@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'IBM Plex Mono', monospace;
}

.glitch {
  position: relative;
  color: #ff00cc;
  text-shadow: 2px 2px #0e0e10;
  animation: glitchSkew 0.3s infinite alternate-reverse;
}

.glitch-layer {
  display: block;
  mix-blend-mode: difference;
  animation: glitchAnim 0.2s infinite alternate-reverse;
   opacity: 0;
}

.glitch-active .glitch-layer {
  opacity: 1;
}

@keyframes glitchSkew {
  0% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(2deg);
  }
}

@keyframes glitchAnim {
  0% {
    clip-path: inset(0 0 80% 0);
    transform: translate(-2px, -2px);
  }
  25% {
    clip-path: inset(10% 0 50% 0);
    transform: translate(2px, 2px);
  }
  50% {
    clip-path: inset(20% 0 40% 0);
    transform: translate(-2px, 2px);
  }
  75% {
    clip-path: inset(10% 0 10% 0);
    transform: translate(2px, -2px);
  }
  100% {
    clip-path: inset(30% 0 0 0);
    transform: translate(0, 0);
  }
}